<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/view/main.css">
  </head>
  <body>
    <div class="content">
      <h1>FCC: URL Shortener</h1>
      <br>

      <h3>Example Creation usage:</h3>
      <a href="https://fcc-dc-short-url.herokuapp.com/new/https://www.google.com">
        <code>
          https://fcc-dc-short-url.herokuapp.com/new/https://www.google.com
        </code>
      </a>
      <br>

      <h3>Example output:</h3>
      <code>
         { "original_url": "https://www.google.com",
           "short_url": "https://fcc-dc-short-url.herokuapp.com/0" }
      </code>
      <br>

      <h3>Example usage:</h3>
      <code></code>
      <br>

    </div>
  </body>
</html>
