<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/view/main.css">
  </head>
  <body>
    <div class="content">
      <h1>FCC: URL Shortener</h1>
      <br>

      <h3>Example Creation usage:</h3>
      <div class="sub-block">
        <code class="link">
          <div>
            <a href="https://fcc-dc-short-url.herokuapp.com/new/https://www.google.com">
            https://fcc-dc-short-url.herokuapp.com/new/https://www.google.com
            </a>
          </div>
        </code>
      </div>
      <br>

      <h3>Example output:</h3>
      <div class="sub-block">
        <code class="JSON">
          <div>
           {&nbsp;"original_url": "https://www.google.com",<br>
           &nbsp;&nbsp;"short_url": "https://fcc-dc-short-url.herokuapp.com/0"&nbsp;}
          </div>
        </code>
      </div>
      <br>

      <h3>Example usage:</h3>
      <div class="sub-block">
        <h4>Clicking on the following link...</h4>
          <code class="link">
            <div>
              <a href="https://fcc-dc-short-url.herokuapp.com/0">
              https://fcc-dc-short-url.herokuapp.com/0
              </a>
            </div>
          </code>
        <h4>...will take you to your original link!</h4>
          <code class="link">
            <div>
              <a href="https://www.google.com">
              https://www.google.com
              </a>
            </div>
          </code>
      </div>
      <br>

    </div>
  </body>
</html>
